//@import url('https://fonts.googleapis.com/css?family=Yantramanav');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //font-family: 'Yantramanav';
  font-weight: 400; // 400 Regular 500 Semibold 600 Bold
  font-size: 16pt;
  box-sizing: border-box;
}

header {
  //display: flex;
  // justify-content: space-between; für abstand zwischen objecten
  // list-style: none; liste ohne Punkte
  margin-top: 15px;

  h1 {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: bold;
  //em größenordnung abhängig von der vordefinierten Schriftgröße im html bereich  a:hover {
    a:hover {
        color: rgb(235, 196, 26);
        border-radius: 6px;
    }

  }

}

img {
  width: 20%;
  margin: 0 8px 8px 0;
} 

main{
  position: relative;
  
  .content-parts {
    
      display: flex;
      flex-direction: column;
      align-items: left;
        div{
          display: flex;
          flex-direction: row;
          img {
            margin: 20px 10px 0 0;
            border-radius: 3px;
          }
        }
      img{
        display: flex;
        width: 30%;
        margin: 10px 0 10px 0;

      
      } 
    margin-left: 20%;
  }

  .content-contact {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
      display: flex;
      width: 30%;
      border-radius: 3px;

    
    } 
  margin-left: 20%;
  }

  .content-startpage {
    img{
      border-radius: 3px;
    }
    a {
      display: flex;
      justify-content: center;
    }
  }

  ul {
    left: 20px;
    position: absolute;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;

    li {
      //display: flex;
      text-align: center;
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: rgb(228, 228, 228);
      //align-content: right;
      border-bottom: 1px solid #555;

      
      a {
        display: block;
        color: #000;
        padding: 1em 20px;
        //border: 3px solid transparent;
      }
      
      a:hover {
        background-color: rgb(245, 99, 14);
        color: white;
        border-radius: 6px; 
        //border: 3px dashed rgb(255, 197, 212);
      }
  
    }

    li:last-child {
      border-bottom: none;
    }

  }

}

a {
  text-decoration: none;
  color: inherit;
}

.active-1 ul li:first-child {
  background: #4CAF50;
  border-radius: 6px;
}

.active-2 ul li:nth-child(2) {
  background: #4CAF50;
  border-radius: 6px;
}

.active-3 ul li:nth-child(3) {
  background: #4CAF50;
  border-radius: 6px;
}

.active-4 ul li:nth-child(4) {
  background: #4CAF50;
  border-radius: 6px;
}

// Regeln für mobile Geräte

@media (max-width: 800px) {
  main ul {
    position: initial;
    margin-bottom: 2em;
  }
}